@model Demo.BL.Models.DepartmentVM

@{
    ViewData["Title"] = "Edit";
}


<div class="block-header">
    <h2>Edit</h2>
</div>

<form class="form-group" asp-controller="Department" asp-action="Edit">
    
    <input class="form-control" type="hidden" asp-for="Id" />
    <br />

    <label asp-for="Name">Department Name</label>
    <input class="form-control" type="text" asp-for="Name" />
    <span asp-validation-for="Name" class="text-danger"></span>

    <br />

    <label asp-for="Code">Department Code</label>
    <input class="form-control" type="text" asp-for="Code" />
    <span asp-validation-for="Code" class="text-danger"></span>

    <br />

    <center>
        <a asp-controller="Department" asp-action="Index" class="btn btn-primary">Back To Data</a>
        <a asp-controller="Department" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
        <input type="submit" value="Edit" class="btn btn-success" />
        <input type="reset" value="Cancle" class="btn btn-warning" />
    </center>


</form>



@section MicrosoftValidation {

    <script src="~/plugins/jquery-validation/jquery.validate.js"></script>
    <script src="~/plugins/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

