@model Demo.BL.Models.EmployeeVM
@{
    ViewData["Title"] = "Edit";
}

@section BootstrapSelect{
    <link href="~/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
}

<div class="block-header">
    <h2>Edit</h2>
</div>


<form class="form-group" asp-controller="Employee" asp-action="Edit">

    @*<div asp-validation-summary="All" class="text-danger"></div>*@

    <label asp-for="Name">Employee Name</label>
    <input class="form-control" type="text" asp-for="Name" />
    <span asp-validation-for="Name" class="text-danger"></span>
    <br />

    <label asp-for="Salary">Salary</label>
    <input class="form-control" type="text" asp-for="Salary" />
    <span asp-validation-for="Salary" class="text-danger"></span>
    <br />

    <label asp-for="Email">Email</label>
    <input class="form-control" type="text" asp-for="Email" />
    <span asp-validation-for="Email" class="text-danger"></span>
    <br />

    <label asp-for="Adress">Adress</label>
    <input class="form-control" type="text" asp-for="Adress" />
    <span asp-validation-for="Adress" class="text-danger"></span>
    <br />

    <label asp-for="HireDate">Hire Date</label>
    <input class="form-control" type="date" asp-for="HireDate" />
    <span asp-validation-for="HireDate" class="text-danger"></span>
    <br />

    <div class="demo-checkbox">
        <input type="checkbox" asp-for="IsActive" checked="">
        <label asp-for="IsActive">Is Active</label>
        <span asp-validation-for="IsActive" class="text-danger"></span>
    </div>
    <br />

    <select asp-for="DepartmentId" asp-items="(SelectList)ViewBag.DepartmentList">
        <option>Choose Department</option>
    </select>



    <center>
        <a asp-controller="Employee" asp-action="Index" class="btn btn-primary">Back To Data</a>
        <a asp-controller="Employee" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
        <input type="submit" value="Edit" class="btn btn-success" />
        <input type="reset" value="Cancle" class="btn btn-warning" />
    </center>

</form>


@section MicrosoftValidation {

    <script src="~/plugins/jquery-validation/jquery.validate.js"></script>
    <script src="~/plugins/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}